---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "book",
  "highlight",
  "syntax-highlighting"
;
.logo{
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo img{
    width: 550px;
    float: left;
    padding-left: 60px;
}
.logo div{
    padding-top: 80px;
    float: left;
    padding-left: 30px;
    color: #00BCD4;
}
.logo h3{
    line-height: 30px;
}
